

body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* height: 150vh; */
  background-color: #f0f0f0;
}

.text3 {
  font-size: 25px;
  margin: 40px 40px;
  text-align: center;
}

span{
  color: red;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.image-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.image-box {
  margin: 20px;
  width: 200px;
}
.image-box h5{
font-weight: lighter;
}

.image-box img {
  background-color: lightgray;
  width: 100%;
  border-radius: 10px;
}

.image-box p {
  margin-top: 10px;
  font-size: 20px;
}

.image-box a {
  text-decoration: none;
  color: #030303;
  cursor:grab;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 40px auto;
  }
  .image-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .image-box {
    margin: 20px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 20px auto;
  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-box {
    margin: 10px;
    width: 150px;
  }
}